<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947209665069-cbk5jg4us7ijr9c5so4up09m3v488c1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947209665069-cbk5jg4us7ijr9c5so4up09m3v488c1g</string>
	<key>API_KEY</key>
	<string>AIzaSyCdGEWrvVLmre1oQwHMP5FY3E7y4Tm796E</string>
	<key>GCM_SENDER_ID</key>
	<string>947209665069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>pcmart-a5026</string>
	<key>STORAGE_BUCKET</key>
	<string>pcmart-a5026.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947209665069:ios:83b2c8fce6e676271796a4</string>
</dict>
</plist>